*{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
}

.txt-fecha{
    color:rgb(105, 105, 105);
    font-size: x-small;
}

.txt-mail{
    font-weight: bold;
}

.no-borderb{
    border-style: none !important;
}

.enviado{
    text-align: right;
    background-color: #fbcdb5b6;
    color: white;
}

.recibido{
    text-align: left;
    background-color: #b5b1b18f;
    color: white;
}

.txt-titulo{
    color: #f6a97f;
}

button{
    background-color: transparent;
    color: #f6a97f;
}

:host{
    ion-content {
      --background: #f6a97f24;
    }

    ion-item {
        --background: #f6a97f78;
    }
}
