<ion-header>
  <ion-toolbar>
    <ion-title>Mobile Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let item of mensaje">
    <ion-card-header class="txt-mail">
      {{item.usuario}} dice:
    </ion-card-header>
    <ion-card-content>
      {{item.texto}}
      <div class="txt-fecha">
        {{ item.fecha | date:'dd/MM/yy, h:mm a' }}
        <!-- {{ item.fecha }} -->
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input placeholder="Mensaje..." [(ngModel)]="nuevoMensaje"> </ion-input>
      <button ion-button icon-right (click)="enviarMensaje()">
        <ion-icon name="send"></ion-icon>
      </button>
  </ion-item>
</ion-footer>
